~$*.SLDASM
~$*.SLDPRT
_$*.SLDASM
_$*.SLDPRT
_$*.SLDPRT
*.asv
~*.xlsx
*.venv
*.ini
*.swj
*.vscode
*.zip
*.DS_Store
*.avi
*.avi
CAD_Mechanical/AARL_QR-Quadruped/AARL_QR_FR-Frame/InProgress/Caris/Knee Assembly.avi
CAD_Mechanical/AARL_QR-Quadruped/AARL_QR_FR-Frame/InProgress/Caris/Knee Assembly.avi
